#!/usr/bin/make -f
export DH_VERBOSE = 1
%:
# rm -rf src
# git clone https://github.com/ucsd-ets/nagios-plugins-ets.git src
# # cp src/* .
# cd src
# ls -al
	dh $@

override_dh_auto_install:
	echo hello
	pwd
	# install -d debian/src/usr/lib64/nagios/plugins
	#install -d debian/nagios-plugins-ets/usr/lib64/nagios/nagios-plugins-ets
	# mkdir -p debian/src
	# echo x > debian/src/check_memory
	mkdir -p debian/nagios-plugins-ets/usr/lib64/nagios/plugins
	# echo x > debian/nagios-plugins-ets/usr/lib64/nagios/plugins/check_memory
	ls -al
	ls -al output
	install -p -m0755 output/check_mem debian/nagios-plugins-ets/usr/lib64/nagios/plugins/check_mem


#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1

# %:
# /debian/nagios-plugins-ets/usr
